<div [class.unicorn-dark-theme]="otherTheme">
  <div class="row card-heading">
    <div class="col-12">
      <h1 mat-dialog-title>Hi {{data.name}}</h1>
    </div>
  </div>
  <mat-dialog-content>
    <div class="row">
      <div class="col-12">
        <form [formGroup]="form">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="data.email" placeholder="enter your email address"
              formControlName="emailFormControl" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!emailFormControl.hasError('email')">We
              need a valid email address</mat-error>
          </mat-form-field>
        </form>
      </div>
      <div class="col-12">
        <div [ngxSummernote]="config" [(ngModel)]="data.msg"></div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </mat-dialog-actions>
</div>